@use "./variables" as variables;

@mixin light-theme {
  background-color: map-get(variables.$colors, "white");
  color: map-get(variables.$colors, "black");
}

@mixin dark-theme {
  background-color: map-get(variables.$colors, "black");
  color: map-get(variables.$colors, "white");
}
