@use "./variables" as variables;

.light {
  --background-color: #{map-get(variables.$colors, "white")};
  --text-color: #{map-get(variables.$colors, "black")};
}

.dark {
  --background-color: #{map-get(variables.$colors, "black")};
  --text-color: #{map-get(variables.$colors, "white")};
}
